.section {
  color: rgb(255, 255, 255);
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  background-image: linear-gradient(to bottom, rgb(32, 46, 69), rgb(0, 0, 0));
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  width: 100%;
  padding: 2%;
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
  position: relative; /* Permite o uso de posicionamento absoluto dentro da seção */
}

.intro {
  text-align: center;
  margin-bottom: 5%; /* Ajusta o espaçamento abaixo do intro */
  margin-left: -7%;
}

.logo {
  margin-top: 7%;
  margin-bottom: 3%; /* Ajusta o espaçamento abaixo do logo */
}

.photo2 {
  width: 30%; /* Ajusta a largura da imagem */
  height: auto;
  margin-left: -30%;
  margin-bottom: 3%;
  margin-top: 1%;
}

.text {
  font-size: 1vw; /* Ajusta a fonte em função da largura da tela */
  color: rgb(255, 255, 255);
  margin-bottom: 15%; /* Ajusta o espaçamento abaixo do texto */
  margin-right: 35%; /* Ajusta o espaçamento à direita para liberar espaço para a imagem */
  margin-left: 5%;
}

.h1 {
  font-size: 2vw; /* Ajusta o tamanho da fonte do título */
  margin-bottom: 5%;
}

.h2 {
  font-size: 1vw; /* Ajusta o tamanho da fonte do subtítulo */
  text-align: justify;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  width: 80%; /* Ajusta a largura do texto */
  margin: 0 auto; /* Centraliza o texto */
}

.photo {
  width: 40%; /* Ajusta a largura da imagem */
  height: auto;
  position: absolute; /* Posiciona a imagem em relação ao contêiner mais próximo com position relative */
  right: 2%; /* Alinha a imagem à direita do contêiner */
  top: 42%; /* Alinha verticalmente no meio do contêiner */
  transform: translateY(-50%); /* Centraliza verticalmente com base no top */
}

.benefits {
  padding-left: 5%;
}

h1, h2, h3 {
  color: rgb(255, 255, 255);
}

@media (max-width: 480px) {
  .section {
    width: 100%; /* Mantém a largura da seção em 80% */
    margin: 0 auto; /* Centraliza a seção */
  }

  .intro {
    text-align: center;
    margin-top: 20%; 
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
  }

  .logo {
    display: none; /* Esconde o logo em telas pequenas */
  }

  .photo2 {
    display: none; /* Esconde a imagem do logo em telas pequenas */
  }

  .photo {
    width: 100%; /* Ajusta a largura da imagem para ocupar toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 40%; /* Espaço acima da imagem */
    margin-bottom: 20px; /* Espaço abaixo da imagem */
    position: static; /* Remove o posicionamento absoluto */
    margin-left: -10%;
  }

  .text {
    width: 100%; 
    margin: 20px auto; 
    text-align: center; /* Centraliza o texto */
  }

  .h1 {
    font-size: 5vw; 
    margin-top: 20%; /* Ajusta o espaçamento acima do título */
    width: 90%;
    margin-left: 9%;
    margin-bottom: 10%;
  }

  .h2 {
    line-height: 3; 
    text-align: justify; 
    font-size: 3vw;
    margin-left: 18.5%;
    width: 70%; /* Permite que o texto ocupe toda a largura disponível */
  }

  .containerFoto {
    text-align: center; 
    margin-top: 20px; /* Adiciona espaço acima da foto */
    margin-bottom: 20px; /* Adiciona espaço abaixo da foto */
  }
}
