.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  margin-right: 20%;
  margin-bottom: 50px;
  margin-left: -200px;
  background-image: linear-gradient(to bottom, #202e45, #000);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin-top: 30px;
}

/* Estilo para a introdução de texto */
.intro {
  padding-right: 10px;
  margin-left: 300px;
  margin-top: 70px;
}

/* Estilo para a logo */
.logo {
  margin-bottom: 120px;
  margin-left: 250px;
}

/* Contêiner para a foto */
.containerFoto {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para o texto */
.text {
  font-size: 15px;
  color: #ffffff;
  width: 850px;
}

/* Estilo para as aspas ao redor do H2 */
.h2 {
  font-size: 18px;
  margin-bottom: 50px;
  position: relative;
  text-align: justify;
  color: #ffffff;
  line-height: 3;
}

/* Adiciona as aspas estilizadas */
.h2::before {
  content: '“'; /* Aspas de abertura */
  font-size: 70px;
  position: absolute;
  left: -80px;
  top: -170px;
  color: #0084CC; /* Cor da citação */
}

.h2::after {
  content: '”'; /* Aspas de fechamento */
  font-size: 70px;
  position: absolute;
  right: -210px;
  bottom: -110px;
  color: #0084CC; /* Cor da citação */
}

/* Estilo da foto */
.photo {
  width: 700px;
  height: auto;
  margin-top: 100px;
  margin-left: 100px;
}

/* Ajuste do benefício (caso necessário) */
.benefits {
  flex: 4;
  padding-left: 20px;
}

/* Estilos para títulos */
h1, h2, h3 {
  color: #ffffff;
}

h1 {
  font-size: 40px;
  width: 1200px;
}

.buttonContainer {
  margin-top: 20px;
  width: 100%;
  margin-left: 280px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.button {
  text-align: center;
  align-items: center;
  background-color: #0084cc;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005f99;
}

@media (max-width: 480px) {
  /* Ajusta a seção principal */
  .section {
    flex-direction: column; /* Empilhar os itens */
    padding: 10px;
    margin: 0; /* Remove as margens grandes */
    box-shadow: none; /* Remove a sombra para um design mais limpo em mobile */
  }

  /* Ajusta a introdução */
  .intro {
    margin: 0;
    padding: 0;
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Espaçamento menor no topo */
  }

  /* Ajusta a logo */
  .logo {
    opacity: 0; /* Torna a imagem transparente */
    visibility: hidden; /* Oculta a imagem, mas mantém o espaço */
    height: 0; /* Remove a altura da imagem */
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .photo2 {
    width: 300px;
    margin-top: 90px;
    margin-bottom: 50px;
  }

  /* Ajusta o texto */
  .text {
    font-size: 14px;
    width: 100%; /* Faz o texto ocupar toda a largura disponível */
  }

  /* Título H1 */
  h1 {
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 60px;
    width: 100%; /* Ajusta para 100% da largura no mobile */
  }

  /* Título H2 */
  .h2 {
    font-size: 16px;
    line-height: 1.5;
    margin: 0 10px;
  }

  /* Aspas estilizadas */
  .h2::before {
    font-size: 40px; /* Reduz o tamanho das aspas */
    left: -15px; /* Ajusta a posição */
    right: 10px;
    top: -45px;
    bottom: -10px;
  }

  .h2::after {
    font-size: 40px; /* Reduz o tamanho das aspas */
    left: 375px; /* Ajusta a posição */
    right: 10px;
    top: 135px;
    bottom: -10px;
  }

  /* Ajusta a imagem de perfil */
  .photo {
    margin-top: 115px;
    width: 90%; /* Reduz a largura da imagem */
    margin: 20px auto; /* Centraliza a imagem */
  }

  /* Ajusta o container de foto */
  .containerFoto {
    margin: 0;
    text-align: center;
  }


}
