.footer {
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 132, 204);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Alinha os itens nas extremidades */
  padding: 0 20px; /* Adiciona espaçamento nas laterais */
}

.imgContainer {
  display: flex;
  align-items: center;
}

.photo {
  height: 40px; /* Ajuste a altura da imagem para combinar com o texto */
  width: auto; /* Mantém a proporção da imagem */
}

.textContainer {
  display: flex;
  margin-left: -210px;
  align-items: center;
  justify-content: center; /* Centraliza o texto horizontalmente */
  flex-grow: 1; /* Faz com que o container de texto ocupe o espaço restante */
}

.textContainer p {
  margin: 0; /* Remove margens padrão do parágrafo */
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column; /* Alinha a imagem e o texto verticalmente */
    height: auto; /* Ajusta a altura automaticamente */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Adiciona espaçamento em volta do conteúdo */
  }

  .imgContainer {
    margin-bottom: 10px; /* Adiciona espaçamento abaixo da imagem */
  }

  .photo {
    height: 30px; /* Ajusta a altura da imagem para telas pequenas */
    margin-left: -20px;
  }

  .textContainer {
    margin: 0; /* Remove margens adicionais */
    text-align: center;
    font-size: 10px;
    margin-left: -20px;
  }
}